<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Uchet.Properties.Settings.CourseConnectionString"
            connectionString="Data Source=DESKTOP-S8HAD33\SQLEXPRESS;Initial Catalog=Course;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>